<mat-card class="p-3 mb-4">
    <article>
        <app-auth-form (submitted)="createUser($event)">
            <h3>Sign Up</h3>
            <button 
            type="submit"
            class="btn btn-secondary" 
            appButton>
            Sign In
            <span ngProjectAs="icon"> -></span>
        </button>
        </app-auth-form>
        <app-auth-form (submitted)="verifyUser($event)" [signInErrorMessage]="signInErrorMessage">
            <!-- ngProjectAs: can be aused anywhere  but limits use to inside the projected component-->
            <h3>Log In</h3>
            <!-- If I were to use the appButton template variablehere I would get the ButtonComponent not the HTMLButtonElement -->  
            <button 
            type="submit"
            class="btn btn-warning" 
            appButton #appButton>Log In
            <span ngProjectAs="icon"> ></span></button>  
        </app-auth-form>
    </article>
</mat-card>